<div class="container footer" style="margin-bottom:40px">
	<hr>
	<div style="float:left">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/terms">Privacy & Terms</a></li>
		<li><a href="/sell">Sell a Theme</a></li>
	</ul>
	</div>
	<div style="float:right">
		&copy; 2013 Bootstrap Micro
	</div>
</div>
