.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%a.brand{ :href => "/" } 
				Bootstrap 
				%i Micro
			.nav.pull-right
				%ul.nav
					%li{ :class => ('active' if current_page?(root_path))} 
						%a{ :href => "/" } Home
					%li{ :class => ('active' if current_page?(about_path))} 
						%a{ :href => "/about" } About
					%li{ :class => ('active' if current_page?(contact_path))} 
						%a{ :href => "/contact" } Contact
					