<div class="row" style="margin-bottom:0; padding-bottom:0">
	<div class="span7 offset3">
		<div class="span2">
			<a href="https://twitter.com/BootstrapMicro" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @BootstrapMicro</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="span4">
			<%= form_tag('/subscriptions') do %>
				<div class="input-append">
					<%= email_field_tag(:email, nil, class: "span2", id: "appendedInputButton", :placeholder => 'Email' ) %>
					<%= submit_tag "Subscribe", class: "btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div style="position:absolute; margin-top:-25px; margin-left:310px">
<span style="margin-top:-20px">Subscribe for notifications of new themes!</span>
</div>
<!-- <div class="span2">
	<div class="fb-like" data-href="http://www.bootstrapmicro.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
</div> -->

