<%= render "shared/nav" %>
<div class="container">
	<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

	<div class="row">
		<div class="span8">
			<div class="well">
				<h2>Thanks for signing up!</h2>
				<p>You will get notifications of the best new Bootstrap Micro themes.</p>
			</div>
		</div>
	</div>
</div>
