<%= render "shared/nav" %>
<div class="container">
	<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

	<div class="row">
		<div class="span12">
			<h2>Have questions or concerns or want to just say hello?</h2>
			<hr>
			<p>You can contact me at <a href="mailto:bootstrapmicro@gmail.com">bootstrapmicro@gmail.com</a>.</p>
		</div>
	</div>
</div>
