<%= render "shared/nav" %>
<div class="container">
	<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

	<div class="row">
		<div class="span12">
			<h2>Have questions or concerns? Need support?</h2>
			<hr>
			<p>You can contact me at <a href="mailto:bootstrapmicro@gmail.com">bootstrapmicro@gmail.com</a>.</p>
			<p>If you are interested in selling a bootstrap micro theme, check out the <a href="/sell">commission rates and information</a> page.</p>
			<hr>
			Bootstrap Micro is owned and innovated by Damian Sowers in South Lake Tahoe, California. Follow me on Twitter.
			<br/><br/>
			<%= image_tag "dsowers.png", class: "thumbnail", style: "float:left; margin-right:20px" %>
			<a href="https://twitter.com/3solarmasses" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @3solarmasses</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<br/><br/>Check out some of my ramblings here: <a href="http://blog.3solarmasses.com">http://blog.3solarmasses.com</a>
		</div>
	</div>
</div>
