<%= render "shared/nav" %>
<div class="container">
	<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

	<div class="row">
		<div class="span12">
			<h2>Sell a theme on Bootstrap Micro</h2>
			<hr>
			<p><strong>A Bootstrap Micro theme takes less development time than a standard theme. Thus, it is easier to see a theme idea go from the drawing board to revenue.</strong></p>
			<p>If you sell your theme exclusively on Bootstrap Micro I offer a high <strong>commission rate of 65%</strong>.</p>
			<p>If you sell your theme on multiple theme sites, I offer an industry leading high <strong>commission rate of 45%</strong>.</p>
			<div class="span4">
				<%= image_tag "money.jpg" %>
			</div>
			<div class="span6">
				<h3>Start selling today</h3>
				<strong>Send an email to <a href="mailto:bootstrapmicro@gmail.com">bootstrapmicro@gmail.com</a> with a live preview link to your theme included in the email. If your theme passes quality control, I will request more information from you and then post your theme to the marketplace. It's as easy as that.</strong>
			</div>
			
		</div>
	</div>
</div>
