<%= render "shared/nav" %>
<div class="container">
	<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

	<div class="row">
		<div class="span12">
			<h2>Privacy policy and Terms of Use</h2>
			<hr>
			<p>Bootstrap micro collects email addresses for registration but does not share your data with anyone. We don't sell your data to anyone else. We don't provide access to our mailing list to any third parties. Bootstrap micro may share visit statistics with prospective authors and marketing firms, but no personal data of any kind will be shared.</p>

			<p>Bootstrap micro uses Stripe to securely process payments and does not store any credit card information or billing information on our servers.</p>

			<p>Bootstrap micro may release personal information if required by law.</p>

			<strong>Terms of use</strong>

			<p>All purchases are final. If you are unsatisfied with a product, Bootstrap Micro may choose to refund your purchase but is not required to. After purchase, downloads will be available via the "my downloads" section of this site. We are not responsible for any technical problems which may result in the delay of a download or availability of a download.</p>

			<p>Ownership of a product is governed by the usage license issued by the seller.</p>
			
		</div>
	</div>
</div>
