// Place all the styles related to the micro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row_spacer {
	margin-bottom:40px;
}
.theme_title {
	font-size:18px;
}
.meta {
	margin-top:20px;
}
.browsers {
	margin-top:15px;
}
.lines_added {
	margin-top:15px;
}
.price {
	color:#3c89c6;
	font-weight:bold;
}